<!-- Home section -->

<section id="home">
	<div id="home-cover" class="bg-parallax">
		<div id="home-content-box">
			<div id="home-content-box-inner" class="text-center">
				<div id="home-heading" class="animated zoomIn">
					<h3>Watch Out<br>The Modern Responsive Website!</h3>
					<div id="home-btn" class="animated zoomIn">
						<a class="btn btn-lg btn-general btn-white" href="#work">View Our Work</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Services section -->

<section id="services">

	<div class="content-box">
		<div class="content-title wow fadeInDown">
			<h3>Services</h3>
			<div class="content-title-underline"></div>
		</div>

		<div class="container">
			<div class="row wow fadeInUp">
				<div class="col-md-4">
					<div class="service-item">
						<div class="service-item-icon">
							<i class="fa fa-paint-brush fa-3x"></i>
						</div>
						<div class="service-item-title">
							<h3>Web Design</h3>
						</div>
						<div class="service-item-desc">
							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-item">
						<div class="service-item-icon">
							<i class="fa fa-laptop fa-3x"></i>
						</div>
						<div class="service-item-title">
							<h3>Web Development</h3>
						</div>
						<div class="service-item-desc">
							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-item">
						<div class="service-item-icon">
							<i class="fa fa-tablet-alt fa-3x"></i>
						</div>
						<div class="service-item-title">
							<h3>Mobile App</h3>
						</div>
						<div class="service-item-desc">
							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-item">
						<div class="service-item-icon">
							<i class="fa fa-paint-brush fa-3x"></i>
						</div>
						<div class="service-item-title">
							<h3>Web Design</h3>
						</div>
						<div class="service-item-desc">
							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-item">
						<div class="service-item-icon">
							<i class="fa fa-laptop fa-3x"></i>
						</div>
						<div class="service-item-title">
							<h3>Web Development</h3>
						</div>
						<div class="service-item-desc">
							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-item">
						<div class="service-item-icon">
							<i class="fa fa-tablet-alt fa-3x"></i>
						</div>
						<div class="service-item-title">
							<h3>Mobile App</h3>
						</div>
						<div class="service-item-desc">
							<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- About section -->

<section id="about">
	<div id="about-bg-diagonal" class="bg-parallax"></div>
	<div class="cotainer">
		<div class="row">
			<div class="col-md-4">
				<div id="about-content-box">
					<div id="about-content-box-outer">
						<div id="about-content-box-inner">
							<div class="content-title wow fadeInDown">
								<h3>About Vesco</h3>
								<div class="content-title-underline"></div>
							</div>
							<div id="about-desc">
								<p>
									"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
								</p>
							</div>
							<div id="about-btn" class="wow fadeInUp">
								<a href="" class="btn btn-lg btn-general btn-blue">Our Work</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Work section -->

<section id="work">
	<div class="content-box">
		<div class="content-title wow fadeInDown">
			<h3>Our Work</h3>
			<div class="content-title-underline"></div>
		</div>
		<div class="container">
			<div class="row no-gutters wow fadeInUp">
				<div class="col-md-3">
					<div class="image-wrapper">
						<%= link_to '/images/work/1.jpg' do %>
							<%= image_tag 'work/1.jpg', alt: "work", class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="image-wrapper">
						<%= link_to '/images/work/2.jpg' do %>
							<%= image_tag 'work/2.jpg', alt: "work", class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="image-wrapper">
						<%= link_to '/images/work/3.jpg' do %>
							<%= image_tag 'work/3.jpg', alt: "work", class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="image-wrapper">
						<%= link_to '/images/work/4.jpg' do %>
							<%= image_tag 'work/4.jpg', alt: "work", class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="image-wrapper">
						<%= link_to '/images/work/5.jpg' do %>
							<%= image_tag 'work/5.jpg', alt: "work", class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="image-wrapper">
						<%= link_to '/images/work/6.jpg' do %>
							<%= image_tag 'work/6.jpg', alt: "work", class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="image-wrapper">
						<%= link_to '/images/work/7.jpg' do %>
							<%= image_tag 'work/7.jpg', alt: "work", class: "img-responsive" %>
						<% end %>
					</div>
				</div>
				<div class="col-md-3">
					<div class="image-wrapper">
						<%= link_to '/images/work/8.jpg' do %>
							<%= image_tag 'work/8.jpg', alt: "work", class: "img-responsive" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Team section -->

<section id="team">
	<div class="content-box">
		<div class="content-title wow fadeInDown">
			<h3>Our Team</h3>
			<div class="content-title-underline"></div>
		</div>
		<div class="container">
			<div class="row wow fadeInDown">
				<div class="col-md-12">
					<div id="team-members" class="owl-carousel owl-theme">
						<div class="team-member">
							<%= image_tag 'team/team-1.jpg', alt: "team-member", class: "img-responsive" %>
							<div class="team-member-info text-center">
								<h4 class="team-member-name">Lorem Ipsum</h4>
								<h4 class="team-member-designation">CEO</h4>
								<ul class="social-list">
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-facebook"></i></a>
									</li>
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-twitter"></i></a>
									</li>
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-google-plus"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="team-member">
							<%= image_tag 'team/team-2.jpg', alt: "team-member", class: "img-responsive" %>
							<div class="team-member-info text-center">
								<h4 class="team-member-name">Lorem Ipsum</h4>
								<h4 class="team-member-designation">CEO</h4>
								<ul class="social-list">
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-facebook"></i></a>
									</li>
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-twitter"></i></a>
									</li>
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-google-plus"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="team-member">
							<%= image_tag 'team/team-3.jpg', alt: "team-member", class: "img-responsive" %>
							<div class="team-member-info text-center">
								<h4 class="team-member-name">Lorem Ipsum</h4>
								<h4 class="team-member-designation">CEO</h4>
								<ul class="social-list">
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-facebook"></i></a>
									</li>
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-twitter"></i></a>
									</li>
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-google-plus"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="team-member">
							<%= image_tag 'team/team-4.jpg', alt: "team-member", class: "img-responsive" %>
							<div class="team-member-info text-center">
								<h4 class="team-member-name">Lorem Ipsum</h4>
								<h4 class="team-member-designation">CEO</h4>
								<ul class="social-list">
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-facebook"></i></a>
									</li>
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-twitter"></i></a>
									</li>
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-google-plus"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="team-member">
							<%= image_tag 'team/team-5.jpg', alt: "team-member", class: "img-responsive" %>
							<div class="team-member-info text-center">
								<h4 class="team-member-name">Lorem Ipsum</h4>
								<h4 class="team-member-designation">CEO</h4>
								<ul class="social-list">
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-facebook"></i></a>
									</li>
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-twitter"></i></a>
									</li>
									<li class="social-icon icon-gray">
										<a href="/"><i class="fa fa-google-plus"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Testimonials section -->

<section id="testimonials">
	<div id="testimonial-cover" class="bg-parallax">
		<div class="content-box">
			<div class="content-title content-title-white wow fadeInDown">
				<h3>What our customers say</h3>
				<div class="content-title-underline"></div>
			</div>
			<div class="container">
				<div class="row wow bounceInDown">
					<div class="col-md-12">
						<div id="customers-testimonials" class="text-center owl-carousel owl-theme">
							<div class="testimonial">
								<%= image_tag 'client/client-1', alt: "customer", class: "img-responsive img-circle" %>
								<blockquote class="text-center">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nostrum maiores fugiat eius reiciendis neque tenetur pariatur dolorem beatae, rerum et animi ullam itaque modi incidunt odit delectus facere voluptatum!</p>
								</blockquote>
								<div class="testimonial-author">
									<p>
										<strong>Lorem Ipsum</strong>
										<span>
											CEO & Founder - Netflix
										</span>
									</p>
								</div>
							</div>
							<div class="testimonial">
								<%= image_tag 'client/client-2', alt: "customer", class: "img-responsive img-circle" %>
								<blockquote class="text-center">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nostrum maiores fugiat eius reiciendis neque tenetur pariatur dolorem beatae, rerum et animi ullam itaque modi incidunt odit delectus facere voluptatum!</p>
								</blockquote>
								<div class="testimonial-author">
									<p>
										<strong>Lorem Ipsum</strong>
										<span>
											CEO & Founder - Netflix
										</span>
									</p>
								</div>
							</div>
							<div class="testimonial">
								<%= image_tag 'client/client-3', alt: "customer", class: "img-responsive img-circle" %>
								<blockquote class="text-center">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nostrum maiores fugiat eius reiciendis neque tenetur pariatur dolorem beatae, rerum et animi ullam itaque modi incidunt odit delectus facere voluptatum!</p>
								</blockquote>
								<div class="testimonial-author">
									<p>
										<strong>Lorem Ipsum</strong>
										<span>
											CEO & Founder - Netflix
										</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script>
	$( () => {
		new WOW().init();
	});
	$( () => {
		$("#work").magnificPopup({
			delegate: 'a',
			type: 'image',
			gallery: {
				enabled: true,
			}
		});
	});
	$( () => {
		$('#team-members').owlCarousel({
			items: 3,
			autoplay: true,
			smartSpeed: 700,
			loop: true,
		});
	});

	$( () => {
		$('#customers-testimonials').owlCarousel({
			items: 1,
			autoplay: true,
			smartSpeed: 700,
			loop: true
		});
	});
</script>

<noscript>
	<section id="work">
		<div class="content-box">
			<div class="content-title wow fadeInDown">
				<h3>Our Work</h3>
				<div class="content-title-underline"></div>
			</div>
			<div class="container">
				<div class="row wow fadeInDown">
					<div class="col-md-*"></div>
				</div>
			</div>
		</div>
	</section>
</noscript>